*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
Binaries/
DerivedDataCache/
Intermediate/
Saved/Logs/
Saved/Cooked/
Saved/Backup/
Saved/Temp/
Build/Receipts/
Build/Windows/
Build/Linux/
Build/Mac/
Build/Android/
Build/IOS/
*.VC.db
*.vs/
.vscode/
*.obj
*.pch
*.pdb
*.aps
*.ncb
*.sdf
*.ipch
*.tlog
*.log
*.dat
*.json
*.cache
*.db
*.db-shm
*.db-wal
*.swp
*.bak
*.tmp
*.pyc
*.pyo
*.CSV
*.csv
Saved/Crashes/
Packages/
Dist/
Shipping/
Shaders/WorkingDirectory/
Config/UnrealEngineLauncher/
!Config/
!Content/
!Source/
Plugins/*/Binaries/
Plugins/*/Intermediate/
